.heading{
    width: 100%;
    font-size: larger;
    margin-top: 0px;
}


canvas{
    border: 5px dotted rgb(25, 0, 255);
    border-radius: 20px; 
}
.song_1{
width:130px;
border-radius: 20px;
}